<h1>Listing mwod_tags</h1>

<table>
  <tr>
    <th>Mwod post</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mwod_tags.each do |mwod_tag| %>
  <tr>
    <td><%= mwod_tag.mwod_post_id %></td>
    <td><%= mwod_tag.tag %></td>
    <td><%= link_to 'Show', mwod_tag %></td>
    <td><%= link_to 'Edit', edit_mwod_tag_path(mwod_tag) %></td>
    <td><%= link_to 'Destroy', mwod_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mwod tag', new_mwod_tag_path %>
