<%= form_for(@mwod_post) do |f| %>
  <% if @mwod_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mwod_post.errors.count, "error") %> prohibited this mwod_post from being saved:</h2>

      <ul>
      <% @mwod_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
