<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mwod_post.title %>
</p>

<p>
  <b>Category:</b>
  <%= @mwod_post.category %>
</p>

<p>
  <b>Date:</b>
  <%= @mwod_post.date %>
</p>

<p>
  <b>Description:</b>
  <%= @mwod_post.description %>
</p>

<p>
	<b>Links:</b>
	<ol>
  	<% for mwod_link in @mwod_post.mwod_video_links %>
			<li><%= mwod_link.link %></li>
			<% end %>
		</ol>
</p>

<p>
	<b>Tags:</b>
	<ol>
  	<% for mwod_tag in @mwod_post.mwod_tags %>
			<li><%= mwod_tag.tag %></li>
			<% end %>
		</ol>
</p>

<%= link_to 'Edit', edit_mwod_post_path(@mwod_post) %> |
<%= link_to 'Back', mwod_posts_path %>
